{% extends "base-thoughts.html" %}
{% block content %}    

<p style="font-size:110%;padding-left:20px; padding-right: 20px; text-align: justify;"> Input stock ticker to check the price 

</p>
<form class = "form-group" action = "/reports" method = "POST">

  <div class="col-xs-5">
      <div class="input-group" >
          <input type="text" class="form-control" placeholder="e.g. GOOG, AAPL, TWTR, etc. " name="query"/>
          <span class="input-group-btn">
            <input class="btn btn-success" type = "submit" value = "submit" />
          </span>
      </div>  <!-- /input-group -->
  </div>  <!-- /.col-lg-6 -->
</form>


{% endblock %}
